.activities h2{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.activities h3{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.activities p{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.activities img{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.activities figcaption{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}

h2.hiddenAct1{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct1{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct1{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct1{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct1{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

h2.hiddenAct2{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct2{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct2{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct2{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct2{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

h2.hiddenAct3{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct3{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct3{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct3{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct3{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

h2.hiddenAct4{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct4{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct4{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct4{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct4{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

h2.hiddenAct5{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct5{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct5{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct5{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct5{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

h2.hiddenAct6{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
p.hiddenAct6{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenAct6{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
img.hiddenAct6{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
figcaption.hiddenAct6{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}