.skills h2{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.skills h3{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.skills ul{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}
.skills ol{
	transform-style: preserve-3d;
	transform: perspective(800px);
	transition: all 0.8s ease;
}

h2.hiddenSki{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
ol.hiddenSki{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
h3.hiddenSki{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}
ul.hiddenSki{
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}